<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Security-Policy" content="default-src * data: mediastream: blob: filesystem: about: ws: wss: 'unsafe-eval' 'wasm-unsafe-eval' 'unsafe-inline'; script-src * data: blob: 'unsafe-inline' 'unsafe-eval'; script-src-elem * data: blob: 'unsafe-inline' 'unsafe-eval'; connect-src * data: blob: 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; media-src * data: blob: 'unsafe-inline'; frame-src * data: blob: ; style-src * data: blob: 'unsafe-inline'; font-src * data: blob: 'unsafe-inline'; frame-ancestors * data: blob:;">
    {%- seo -%}
    <!--<link id="main-stylesheet" rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">-->
    {%- feed_meta -%}

    {% vite_client_tag %}
    {% vite_javascript_tag application %}

    {% comment %}
    Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

    1. Head over to https://realfavicongenerator.net/ to add your own favicons.
    2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
    {% endcomment %}
</head>